{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<!-- Banner Starts Here -->
<div class="heading-page header-text">
  <section class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-content">
            <h4>Featured</h4>
            <h2>Our Latest Blog Entries</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Banner Ends Here -->

<section class="blog-posts grid-system">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="all-blog-posts">
          <div class="row">

            {% for post in featured_posts %}
            <div class="col-lg-6">
              <div class="blog-post">
                <div class="blog-thumb">
                  {% if post.thumbnail %}
                    <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
                  {% else %}
                    <img src="{% static 'assets/images/default-thumbnail.jpg' %}" alt="default image">
                  {% endif %}
                </div>
                <div class="down-content">
                  <span>{{ post.category.name }}</span>
                  <a href="{% url 'post_detail' post.id %}"><h4>{{ post.title }}</h4></a>
                  <ul class="post-info">
                    <li><a href="#">{{ post.author.username }}</a></li>
                    <li><a href="#">{{ post.created_at|date:"F j, Y" }}</a></li>
                    <li><a href="#">{{ post.comments.count }} Comments</a></li>
                  </ul>
                  <p>{{ post.content|truncatewords:25 }}</p>
                  <div class="post-options">
                    <div class="row">
                      <div class="col-lg-12">
                        <ul class="post-tags">
                          <li><i class="fa fa-tags"></i></li>
                          {% for tag in post.tags.all %}
                            <li><a href="#">{{ tag.name }}</a>{% if not forloop.last %},{% endif %}</li>
                          {% empty %}
                            <li><span>No tags</span></li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% empty %}
            <div class="col-12">
              <p>No featured posts found.</p>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>

      <!-- Sidebar -->
      <div class="col-lg-4">
        <div class="sidebar">
          <div class="row">
            <div class="col-lg-12">
              <div class="sidebar-item search">
                <form id="search_form" name="gs" method="GET" action="#">
                  <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                </form>
              </div>
            </div>
            <!-- You can add dynamic recent posts, categories, tags here too -->
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}
